<h1>Github Dashboard</h1>
{{#if session.isWorking}}
  One sec while we get you signed in...
{{else}}
  {{error}}
  <button {{action "signIn" "github"}}>Sign in with github</button>
{{/if}}

{{#if signingIn}}
  <div id="signin-modal-back">
    <div id="signin-modal-frame">
      <div id="signin-modal-content">
        {{torii-iframe-placeholder}}
      </div>
    </div>
  </div>
{{/if}}