{{#paper-card}}
  {{#power-select-multiple
    renderInPlace=true
    searchField="name"
    options=content
    selected=repo
    onchange=(action (mut repo))
    as |repo|
  }}
    {{repo.name}}
  {{/power-select-multiple}}
  
  <button {{action 'getRepoStat'}}>Draw Graph</button>
  
  {{#paper-card-content}}
    <div class="row">
      {{#each contributions as |contrib|}}
        <div class="col-md-6">
          {{contribution-pie-chart content=contrib}}
        </div>
      {{/each}}
    </div>
  {{/paper-card-content}}
  <div class="md-actions" layout="row" layout-align="end center">
  </div>
{{/paper-card}}